<div class="center">

    <section id="content">
     
            <article class="article-item article-detail">
                <div class="image-wrap">
                     <img src="{{url + '/get-image/'+ article.image}}" alt="{{article.title}}" *ngIf="article.image">
            <img src="assets/images/default.png" alt="image default" *ngIf="!article.image">
                </div>
                <h2 class="subheader">{{article.title}}</h2>
                <span class="date">{{article.date | amLocale: 'es' | amTimeAgo }}</span>
                <p>{{ article.content}}            </p>
                <div class="clearfix" ></div>
            </article>

            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
    </section>

    <app-sidebar></app-sidebar>  

</div>
