    <header id="header">    
        <div class="center">
            <div id="logo" class="app-logo">
                <!--LOGO-->
                <img src="assets/images/angular.svg" alt="logotipo">
                <span class="brand">
                    <strong>Curso</strong>Angular
                </span>
            </div>
            <nav id="menu">
                <!--MENU-->
                <ul>
                    <li [routerLinkActive]="['active']" >
                        <a [routerLink]="['/home']" >Inicio</a>
                    </li>
                    <li [routerLinkActive]="['active']" >
                        <a [routerLink]="['/blog']" >BLog</a>
                    </li>
                    <li [routerLinkActive]="['active']" >
                        <a [routerLink]="['/formulario']" >Formulario</a>
                    </li>
                    <li [routerLinkActive]="['active']" >
                        <a [routerLink]="['/peliculas']" >Peliculas</a>
                    </li>
                    <li [routerLinkActive]="['active']" >
                        <a [routerLink]="['/pagina-de-prueba']" >Pagina 2</a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix" ></div>
        </div>
    </header>