
<app-slider [nombre]="'peliculas'"
    [size]= "'small'"
 ></app-slider>

<div class="center">

    <section id="content">
        <h2 class="subheader">Peliculas</h2>

        <div id="articles" *ngIf="peliculas">
            <div  *ngFor="let pelicula of peliculas">
                <app-pelicula
                    [pelicula]= "pelicula">
                </app-pelicula>
            </div>

            <!--AGREGAR ARTICULOS VIA JS-->
        </div>
    </section>

    <app-sidebar></app-sidebar>  

</div>
