
<app-slider [nombre]="'peliculas'"
    [size]= "'small'"
 ></app-slider>

<div class="center">

    <section id="content">
        <div id="favorita" *ngIf="favorita">
            <h3>Pelicula Favorita: {{favorita.title | uppercase }}</h3>
            <h3>Año: {{favorita.year| espar }}</h3>
        </div>

        <h2 class="subheader">Peliculas</h2>

        <div id="articles" *ngIf="peliculas">
            <div  *ngFor="let pelicula of peliculas">
                <app-pelicula
                    [pelicula]= "pelicula"
                    (MarcarFavorita)="mostrarFavorita($event)">
                </app-pelicula>
            </div>

            <!--AGREGAR ARTICULOS VIA JS-->
        </div>
    </section>

    <app-sidebar></app-sidebar>  

</div>
