
<app-slider [nombre]="'peliculas'"></app-slider>

<div class="center">

    <section id="content">
        <h2 class="subheader">Peliculas</h2>

        <div id="articles" *ngIf="peliculas">

            <article class="article-item" *ngFor="let pelicula of peliculas">

                <div class="">
                    <img src="{{pelicula.image}}" alt="{{pelicula.title}}">
                </div>
                <span class="year" [ngClass]="{
        					'year-green': pelicula.year > 2016,
        					'year-red': pelicula.year <= 2016
            			}">
                	{{pelicula.year}}
                </span>
                <h2>{{pelicula.title}}</h2>
                <div class="clearfix" ></div>
            </article>

            <!--AGREGAR ARTICULOS VIA JS-->
        </div>
    </section>

    <app-sidebar></app-sidebar>  

</div>
